.transaction-container {
    margin-top: 8px;
    width: 90%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    display: inline-flex;
  }
  
  .input-container {
    height: 40px;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
  }
  
  .input-box {
    flex: 1 1 0;
    height: 40px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: white;
    border-radius: 4px;
    border: 1px #D9D9D9 solid;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    display: flex;
  }
  
  .icon {
    width: 14px;
    height: 14px;
    position: relative;
  }
  
  .icon-inner {
    width: 13.45px;
    height: 13.19px;
    left: 0;
    top: 0;
    position: absolute;
  }
  
  .input-text {
    flex: 1 1 0;
    color: #999999;
    font-size: 14px;
    font-family: 'Galano Grotesque';
    font-weight: 400;
    line-height: 20px;
    word-wrap: break-word;
  }
  
  .actions-container {
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
    display: flex;
  }
  
  .sort-action {
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
    display: flex;
  }
  
  .sort-text {
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 6px;
    padding-bottom: 6px;
    background: white;
    border-radius: 4px;
    border: 1px #D9D9D9 solid;
    color: #4D4D4D;
    font-size: 16px;
    font-family: 'Inter';
    font-weight: 400;
    line-height: 24px;
    word-wrap: break-word;
  }
  
  .sort-icon {
    width: 16px;
    height: 16px;
    position: relative;
  }
  
  .sort-icon-inner {
    width: 13.07px;
    height: 10.97px;
    left: 1.47px;
    top: 2.52px;
    position: absolute;
    background: #4D4D4D;
  }
  
  .filter-action {
    width: 36px;
    height: 36px;
    position: relative;
  }
  
  .filter-icon {
    width: 36px;
    height: 36px;
    left: 4px;
    top: 9px;
    position: absolute;
    border-radius: 4px;

  }
  
  .input-text {
    flex: 1 1 0;
    color: #999999;
    font-size: 14px;
    font-family: 'Galano Grotesque';
    font-weight: 400;
    line-height: 20px;
    word-wrap: break-word;
    border: none; 
    outline: none; 
  }