body, html {
  height: 100vh; 
  margin: -1px;
  overflow-y: hidden;
  overflow-x: hidden;
}

.container {
  display: flex;
  height: 100vh; 
}

.left-container {
  height: 100vh; 
  width: 20%;
}

.right-container {
  height: 100vh; 
  width: 80%;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .left-container, .right-container {
    width: 100%;
  }
}

.amounts {
  display: flex;
  gap: 30px; 
  padding: 25px;
  flex-direction: row;
}

.transaction-header {
  color: #1A181E;
  font-size: 20px;
  font-family: 'Galano Grotesque';
  font-weight: 500;
  line-height: 28px;
  word-wrap: break-word;
  margin-top: 15px;

}


.payout-box {
  margin-top: 20px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 6px;
  padding-bottom: 6px;
  background: #E6E6E6;
  border-radius: 40px;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  display: inline-flex;
}

.payout-text {
  color: #808080;
  font-size: 14px;
  font-family: 'Inter';
  font-weight: 500;
  line-height: 20px;
  word-wrap: break-word;
}

.payout-box-b {
  margin-left: 8px;
  margin-top: 20px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 6px;
  padding-bottom: 6px;
  background: #146EB4;
  border-radius: 40px;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  display: inline-flex;
}

.payout-text-b {
  color: white;
  font-size: 14px;
  font-family: 'Inter';
  font-weight: 500;
  line-height: 20px;
  word-wrap: break-word;
}